[Unit]
Description=Art-Net LED Controller
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/raspberry/artnet_led.py
WorkingDirectory=/home/raspberry
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
